<!doctype html>
<html lang="en">

<head>
  <script>
    var eventKey = "2023oncne";
    var eventTimeZone = "America/Toronto"
    var teams = ["frc5406", "frc9991"];
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Celt-X Match Schedule</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="index.css" rel="stylesheet">

  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/jquery-3.7.0.min.js"></script>
  <script src="js/jsrender.min.js"></script>
  <script src="js/apikey.js"></script>
  <script src="js/lodash.js"></script>
</head>

<button id="getTBAData">Get TBA Data</button>
<button id="toggleAutomationButton">Toggle Auto Refresh</button>

<script>
    $.views.helpers("removePrefix", function(inputString) {
    if (inputString.startsWith("frc")) {
        return inputString.substring(3);
    }
    return inputString;
  });

  var automationEnabled = false; 

  function automateButtonClick() {
      if (automationEnabled) {
          var button = document.getElementById("getTBAData");
          button.click();
      }
  }

  function toggleAutomation() {
      automationEnabled = !automationEnabled;
      const toggleButton = document.getElementById("toggleAutomationButton");
      
      if (automationEnabled) {
          toggleButton.innerText = "Auto Refresh: ON"; 
      } else {
          toggleButton.innerText = "Auto Refresh: OFF";
      }
  }

  var intervalId = setInterval(automateButtonClick, 300000); // 5 minutes

  document.getElementById("toggleAutomationButton").addEventListener("click", toggleAutomation);


  var goodcodingpractice = [{"variable": "data"}]
  var data = [

  {
    "team": "frc5406",
    "alliance": "blue",
    "alliances": {
      "blue": [
        "frc9996",
        "frc5406",
        "frc5719"
      ],
      "red": [
        "frc2609",
        "frc7520",
        "frc4343"
      ]
    },
    "won": false,
    "rp": 0,
    "comp_level": "qm",
    "match_number": 2,
    "time": "11:10 AM"
  },
  {
    "team": "frc9991",
    "alliance": "blue",
    "alliances": {
      "blue": [
        "frc1310",
        "frc5834",
        "frc9991"
      ],
      "red": [
        "frc8574",
        "frc8729",
        "frc8089"
      ]
    },
    "won": true,
    "rp": 4,
    "comp_level": "qm",
    "match_number": 3,
    "time": "11:20 AM"
  },
  {
    "team": "frc9991",
    "alliance": "red",
    "alliances": {
      "blue": [
        "frc8089",
        "frc1325",
        "frc7520"
      ],
      "red": [
        "frc4039",
        "frc5719",
        "frc9991"
      ]
    },
    "won": true,
    "rp": 4,
    "comp_level": "qm",
    "match_number": 6,
    "time": "11:50 AM"
  },
  {
    "team": "frc5406",
    "alliance": "blue",
    "alliances": {
      "blue": [
        "frc5406",
        "frc7902",
        "frc8574"
      ],
      "red": [
        "frc2935",
        "frc5834",
        "frc8729"
      ]
    },
    "won": false,
    "rp": 0,
    "comp_level": "qm",
    "match_number": 7,
    "time": "12:00 PM"
  },
  {
    "team": "frc9991",
    "alliance": "blue",
    "alliances": {
      "blue": [
        "frc9991",
        "frc9993",
        "frc4678"
      ],
      "red": [
        "frc9996",
        "frc9995",
        "frc3683"
      ]
    },
    "won": true,
    "rp": 2,
    "comp_level": "qm",
    "match_number": 9,
    "time": "12:20 PM"
  },
  {
    "team": "frc5406",
    "alliance": "blue",
    "alliances": {
      "blue": [
        "frc5406",
        "frc9994",
        "frc4039"
      ],
      "red": [
        "frc4678",
        "frc8764",
        "frc3683"
      ]
    },
    "won": false,
    "rp": 2,
    "comp_level": "qm",
    "match_number": 13,
    "time": "1:00 PM"
  },
  {
    "team": "frc9991",
    "alliance": "red",
    "alliances": {
      "blue": [
        "frc2609",
        "frc5834",
        "frc9992"
      ],
      "red": [
        "frc9991",
        "frc5596",
        "frc8089"
      ]
    },
    "won": false,
    "rp": 0,
    "comp_level": "qm",
    "match_number": 15,
    "time": "1:20 PM"
  },
  {
    "team": "frc5406",
    "alliance": "red",
    "alliances": {
      "blue": [
        "frc4343",
        "frc8764",
        "frc2634"
      ],
      "red": [
        "frc5406",
        "frc3683",
        "frc9993"
      ]
    },
    "won": true,
    "rp": 4,
    "comp_level": "qm",
    "match_number": 16,
    "time": "1:30 PM"
  },
  {
    "team": "frc9991",
    "alliance": "blue",
    "alliances": {
      "blue": [
        "frc9991",
        "frc9994",
        "frc2935"
      ],
      "red": [
        "frc9995",
        "frc9992",
        "frc2702"
      ]
    },
    "won": false,
    "rp": 1,
    "comp_level": "qm",
    "match_number": 18,
    "time": "1:50 PM"
  },
  {
    "team": "frc5406",
    "alliance": "blue",
    "alliances": {
      "blue": [
        "frc5596",
        "frc5834",
        "frc5406"
      ],
      "red": [
        "frc4343",
        "frc8574",
        "frc8764"
      ]
    },
    "won": true,
    "rp": 3,
    "comp_level": "qm",
    "match_number": 19,
    "time": "4:30 PM"
  },
  {
    "team": "frc5406",
    "alliance": "red",
    "alliances": {
      "blue": [
        "frc8729",
        "frc2609",
        "frc9991"
      ],
      "red": [
        "frc2935",
        "frc4343",
        "frc5406"
      ]
    },
    "won": false,
    "rp": 1,
    "comp_level": "qm",
    "match_number": 23,
    "time": "5:10 PM"
  },
  {
    "team": "frc9991",
    "alliance": "blue",
    "alliances": {
      "blue": [
        "frc8729",
        "frc2609",
        "frc9991"
      ],
      "red": [
        "frc2935",
        "frc4343",
        "frc5406"
      ]
    },
    "won": true,
    "rp": 3,
    "comp_level": "qm",
    "match_number": 23,
    "time": "5:10 PM"
  },
  {
    "team": "frc5406",
    "alliance": "red",
    "alliances": {
      "blue": [
        "frc5719",
        "frc2935",
        "frc5596"
      ],
      "red": [
        "frc5406",
        "frc8764",
        "frc8729"
      ]
    },
    "won": true,
    "rp": 2,
    "comp_level": "qm",
    "match_number": 27,
    "time": "5:50 PM"
  },
  {
    "team": "frc9991",
    "alliance": "red",
    "alliances": {
      "blue": [
        "frc9994",
        "frc8089",
        "frc7902"
      ],
      "red": [
        "frc2634",
        "frc8574",
        "frc9991"
      ]
    },
    "won": true,
    "rp": 2,
    "comp_level": "qm",
    "match_number": 30,
    "time": "6:20 PM"
  },
  {
    "team": "frc5406",
    "alliance": "blue",
    "alliances": {
      "blue": [
        "frc9995",
        "frc5406",
        "frc8729"
      ],
      "red": [
        "frc1325",
        "frc9996",
        "frc1310"
      ]
    },
    "won": false,
    "rp": 2,
    "comp_level": "qm",
    "match_number": 32,
    "time": "6:40 PM"
  },
  {
    "team": "frc9991",
    "alliance": "blue",
    "alliances": {
      "blue": [
        "frc8764",
        "frc9991",
        "frc9996"
      ],
      "red": [
        "frc7902",
        "frc2702",
        "frc1310"
      ]
    },
    "won": false,
    "rp": 1,
    "comp_level": "qm",
    "match_number": 35,
    "time": "7:10 PM"
  },
  {
    "team": "frc5406",
    "alliance": "red",
    "alliances": {
      "blue": [
        "frc2702",
        "frc8729",
        "frc4039"
      ],
      "red": [
        "frc9992",
        "frc9991",
        "frc5406"
      ]
    },
    "won": true,
    "rp": 3,
    "comp_level": "qm",
    "match_number": 39,
    "time": "7:50 PM"
  },
  {
    "team": "frc9991",
    "alliance": "red",
    "alliances": {
      "blue": [
        "frc2702",
        "frc8729",
        "frc4039"
      ],
      "red": [
        "frc9992",
        "frc9991",
        "frc5406"
      ]
    },
    "won": true,
    "rp": 3,
    "comp_level": "qm",
    "match_number": 39,
    "time": "7:50 PM"
  },
  {
    "team": "frc9991",
    "alliance": "red",
    "alliances": {
      "blue": [
        "frc3683",
        "frc8729",
        "frc7902"
      ],
      "red": [
        "frc9991",
        "frc4343",
        "frc2702"
      ]
    },
    "won": false,
    "rp": 1,
    "comp_level": "qm",
    "match_number": 42,
    "time": "11:20 AM"
  },
  {
    "team": "frc5406",
    "alliance": "red",
    "alliances": {
      "blue": [
        "frc8089",
        "frc4678",
        "frc9992"
      ],
      "red": [
        "frc1325",
        "frc1310",
        "frc5406"
      ]
    },
    "won": true,
    "rp": 4,
    "comp_level": "qm",
    "match_number": 43,
    "time": "11:30 AM"
  },
  {
    "team": "frc5406",
    "alliance": "red",
    "alliances": {
      "blue": [
        "frc7902",
        "frc9991",
        "frc7520"
      ],
      "red": [
        "frc4678",
        "frc5406",
        "frc2634"
      ]
    },
    "won": true,
    "rp": 4,
    "comp_level": "qm",
    "match_number": 46,
    "time": "12:00 PM"
  },
  {
    "team": "frc9991",
    "alliance": "blue",
    "alliances": {
      "blue": [
        "frc7902",
        "frc9991",
        "frc7520"
      ],
      "red": [
        "frc4678",
        "frc5406",
        "frc2634"
      ]
    },
    "won": false,
    "rp": 1,
    "comp_level": "qm",
    "match_number": 46,
    "time": "12:00 PM"
  },
  {
    "team": "frc5406",
    "alliance": "red",
    "alliances": {
      "blue": [
        "frc5834",
        "frc2935",
        "frc9995"
      ],
      "red": [
        "frc8764",
        "frc5406",
        "frc9991"
      ]
    },
    "won": true,
    "rp": 0,
    "comp_level": "sf",
    "match_number": 2,
    "time": "3:10 PM"
  },
  {
    "team": "frc9991",
    "alliance": "red",
    "alliances": {
      "blue": [
        "frc5834",
        "frc2935",
        "frc9995"
      ],
      "red": [
        "frc8764",
        "frc5406",
        "frc9991"
      ]
    },
    "won": true,
    "rp": 0,
    "comp_level": "sf",
    "match_number": 2,
    "time": "3:10 PM"
  },
  {
    "team": "frc5406",
    "alliance": "blue",
    "alliances": {
      "blue": [
        "frc9991",
        "frc5406",
        "frc8764"
      ],
      "red": [
        "frc9996",
        "frc1325",
        "frc1310"
      ]
    },
    "won": true,
    "rp": 0,
    "comp_level": "sf",
    "match_number": 7,
    "time": "4:03 PM"
  },
  {
    "team": "frc9991",
    "alliance": "blue",
    "alliances": {
      "blue": [
        "frc9991",
        "frc5406",
        "frc8764"
      ],
      "red": [
        "frc9996",
        "frc1325",
        "frc1310"
      ]
    },
    "won": true,
    "rp": 0,
    "comp_level": "sf",
    "match_number": 7,
    "time": "4:03 PM"
  },
  {
    "team": "frc5406",
    "alliance": "red",
    "alliances": {
      "blue": [
        "frc3683",
        "frc8089",
        "frc4678"
      ],
      "red": [
        "frc8764",
        "frc5406",
        "frc9991"
      ]
    },
    "won": false,
    "rp": 0,
    "comp_level": "sf",
    "match_number": 11,
    "time": "5:53 PM"
  },
  {
    "team": "frc9991",
    "alliance": "red",
    "alliances": {
      "blue": [
        "frc3683",
        "frc8089",
        "frc4678"
      ],
      "red": [
        "frc8764",
        "frc5406",
        "frc9991"
      ]
    },
    "won": false,
    "rp": 0,
    "comp_level": "sf",
    "match_number": 11,
    "time": "5:53 PM"
  },
  {
    "team": "frc5406",
    "alliance": "red",
    "alliances": {
      "blue": [
        "frc4039",
        "frc2609",
        "frc2634"
      ],
      "red": [
        "frc8764",
        "frc5406",
        "frc9991"
      ]
    },
    "won": false,
    "rp": 0,
    "comp_level": "sf",
    "match_number": 13,
    "time": "7:30 PM"
  },
  {
    "team": "frc9991",
    "alliance": "red",
    "alliances": {
      "blue": [
        "frc4039",
        "frc2609",
        "frc2634"
      ],
      "red": [
        "frc8764",
        "frc5406",
        "frc9991"
      ]
    },
    "won": false,
    "rp": 0,
    "comp_level": "sf",
    "match_number": 13,
    "time": "7:30 PM"
  }
];
</script>



<!-- Templates -->
<script id="matchScheduleTemplate" type="x-jsrender">
  <body class="container-fluid">

    <div class="col-lg-12 mx-auto p-3">
  
      <main>
        <div class="row g-5">
          <div class="col-md-7 text-center matches">
  
  
            
  
            <div class="row row-striped">
              <div class="col-md-2  align-self-center">
                <div class="row">
                  <div class="col-md-12 match-schedule"><input type="text" class="form-control match-schedule-text" id="match1" {{if comp_level === "qm"}}value="Quals {{:match_number}}"{{/if}} {{if comp_level === "sf"}}value="SF {{:match_number}}"{{/if}}>
                    <span class="col-md-12 time-schedule"><input type="text" class="form-control time-schedule-text" id="time1" value="{{:time}}"></span>
                  </div>
                </div>
  
              </div>
              <div class="col-md-9"><div class="row">
  
              <div class="col-md-2 team-schedule align-self-center"><input type="text" class=" red-schedule form-control team-schedule-text" id="team1_red1" value="{{:~removePrefix(alliances.red[0])}}""></div>
              <div class="col-md-2 team-schedule align-self-center"><input type="text" class=" red-schedule form-control team-schedule-text" id="team1_red2" value="{{:~removePrefix(alliances.red[1])}}""></div>
              <div class="col-md-2 team-schedule align-self-center"><input type="text" class=" red-schedule form-control team-schedule-text" id="team1_red3" value="{{:~removePrefix(alliances.red[2])}}""></div>
              <div class="col-md-2 team-schedule  align-self-center"><input type="text" class=" blue-schedule form-control team-schedule-text" id="team1_blue1" value="{{:~removePrefix(alliances.blue[0])}}""></div>
              <div class="col-md-2 team-schedule  align-self-center"><input type="text" class=" blue-schedule form-control team-schedule-text" id="team1_blue2" value="{{:~removePrefix(alliances.blue[1])}}""></div>
              <div class="col-md-2 team-schedule  align-self-center"><input type="text" class=" blue-schedule form-control team-schedule-text" id="team1_blue3" value="{{:~removePrefix(alliances.blue[2])}}""></div>
              </div>
              </div>
              <div class="col-md-1 align-self-center">
                <div class="row">
                  <div class="col-md-12 rp-schedule">
                                    
                    <select class="form-select rp-schedule-text" id="rp1">
                      <option></option>
                      <option value="0">0 RP</option>
                      <option value="1">1 RP</option>
                      <option value="2">2 RP</option>
                      <option value="3">3 RP</option>
                      <option value="4">4 RP</option>
                    </select>
  
  
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 result-schedule">
                    <select class="form-select result-schedule-text" id="result1">
                      <option></option>
                      <option value="win">Win</option>
                      <option value="loss">Loss</option>
                      <option value="tie">Tie</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </main>
    </div>
</script>

<script id="nextUpTemplate" type="x-jsrender">
  <body class="container-fluid">

    <div class="col-lg-12 mx-auto p-3">
  
      <main>
        <div class="row g-5">

          <div class="col-md-5 text-center">
            <h1>Next Up</h1>
            <p class="match-next"><span id="match-number"></span>
              <br>
              <span class="time-next text-muted text-italics"></span>
            </p>
            <div class="row text-bold">
              <div id="red1" class="col-md-4 team-next red-next"></div>
              <div id="red2"  class="col-md-4 team-next red-next"></div>
              <div id="red3"  class="col-md-4 team-next red-next"></div>
            </div>
  
            <p class="vs-next">vs.</p>
  
            <div class="row">
              <div id="blue1"  class="col-md-4 team-next blue-next"></div>
              <div id="blue2"  class="col-md-4 team-next blue-next"></div>
              <div id="blue3"  class="col-md-4 team-next blue-next"></div>
            </div>
  
          </div>
        </div>
      </main>
    </div>
</script>

<div id="matchSchedule"></div>
<div id="nextUp"></div>

<script>


var nextUpTemplate = $.templates("#nextUpTemplate");
var nextUpTemplateHTML = nextUpTemplate.render(goodcodingpractice);
$("#nextUp").html(nextUpTemplateHTML);
</script>


<!------------------------------------------------------------------------------>

<script>



  $(function(){
    var lastMatch = 0;
    var totalMatches = 0;
    updateMatches();

    $('.team-schedule-text').blur(function(){
      $(this).removeClass("us-schedule");
      if($(this).val() == "5406"){
        $(this).addClass("us-schedule");
      }
    })

    function updateMatches(){
      lastMatch =0;
      $('.rp-schedule-text').each(function(index, element){
        if($(this).val()){
          lastMatch = index+1;
        }
      })
      updateNext();
    }

    function updateTotalMatches(){
      totalMatches =0;
      $('.match-schedule-text').each(function(index, element){
        if($(this).val().trim()){
          totalMatches = index+1;
        }
      })
    }

    $('.match-schedule-text').blur(updateTotalMatches);


    function updateNext(){
        var nextMatch = lastMatch +1;

        if(nextMatch <= totalMatches || lastMatch ==0){

          $('.time-next').show();
          $('.team-next').show();
          $('.vs-next').show();

          
        $('#match-number').text($('#match'+nextMatch).val());
        $('.time-next').text("(est. " + $('#time'+nextMatch).val() + ")");

        $('#red1').removeClass("us-next");
        $('#red1').text($('#team'+nextMatch+'_red1').val());
        if($('#team'+nextMatch+'_red1').val() == "5406"){
          $('#red1').addClass("us-next");
        }

        $('#red2').removeClass("us-next");
        $('#red2').text($('#team'+nextMatch+'_red2').val());
        if($('#team'+nextMatch+'_red2').val() == "5406"){
          $('#red2').addClass("us-next");
        }

        $('#red3').removeClass("us-next");
        $('#red3').text($('#team'+nextMatch+'_red3').val());
        if($('#team'+nextMatch+'_red3').val() == "5406"){
          $('#red3').addClass("us-next");
        }

        $('#blue1').removeClass("us-next");
        $('#blue1').text($('#team'+nextMatch+'_blue1').val());
        if($('#team'+nextMatch+'_blue1').val() == "5406"){
          $('#blue1').addClass("us-next");
        }
        
        $('#blue2').removeClass("us-next");
        $('#blue2').text($('#team'+nextMatch+'_blue2').val());
        if($('#team'+nextMatch+'_blue2').val() == "5406"){
          $('#blue2').addClass("us-next");
        }
        
        $('#blue3').removeClass("us-next");
        $('#blue3').text($('#team'+nextMatch+'_blue3').val());
        if($('#team'+nextMatch+'_blue3').val() == "5406"){
          $('#blue3').addClass("us-next");
        }
          
        }else{
          $('#match-number').text("Playoffs");
          $('.time-next').hide();
          $('.team-next').hide();
          $('.vs-next').hide();
        }
        
        

    }
    
    $('.rp-schedule-text').change(function(){
      updateMatches();
    })

    $('#match1').blur(function(){
      if(lastMatch ==0){
        $('#match-number').text($(this).val());
      }
    })

    $('#time1').blur(function(){
      if(lastMatch ==0){
        $('.time-next').text("(est. " + $(this).val() + ")");
      }
    })

    $('#team1_red1').blur(function(){
      if(lastMatch ==0){
        $('#red1').removeClass("us-next");
        $('#red1').text($(this).val());
        if($(this).val() == "5406"){
          $('#red1').addClass("us-next");
        }
      }
    })

    $('#team1_red2').blur(function(){
      if(lastMatch ==0){
        $('#red2').removeClass("us-next");
        $('#red2').text($(this).val());
        if($(this).val() == "5406"){
          $('#red2').addClass("us-next");
        }
      }
    })

    $('#team1_red3').blur(function(){
      if(lastMatch ==0){
        $('#red3').removeClass("us-next");
        $('#red3').text($(this).val());
        if($(this).val() == "5406"){
          $('#red3').addClass("us-next");
        }
      }
    })

    $('#team1_blue1').blur(function(){
      if(lastMatch ==0){
        $('#blue1').removeClass("us-next");
        $('#blue1').text($(this).val());
        if($(this).val() == "5406"){
          $('#blue1').addClass("us-next");
        }
      }
    })

    $('#team1_blue2').blur(function(){
      if(lastMatch ==0){
        $('#blue2').removeClass("us-next");
        $('#blue2').text($(this).val());
        if($(this).val() == "5406"){
          $('#blue2').addClass("us-next");
        }
      }
    })

    $('#team1_blue3').blur(function(){
      if(lastMatch ==0){
        $('#blue3').removeClass("us-next");
        $('#blue3').text($(this).val());
        if($(this).val() == "5406"){
          $('#blue3').addClass("us-next");
        }
      }
    })


$(function(){
    $( "#checkOnline" ).on( "click", function() {
          var online = navigator.onLine;  
          alert(online); 
    });


    
    $( "#getTBAData" ).on( "click", function() {

        $.ajax({
            method: "GET",
            url: "https://www.thebluealliance.com/api/v3/event/"+eventKey,
            headers: {"X-TBA-Auth-Key": TBA_API_KEY}
        }).done(function(eventData){
            eventTimeZone = eventData.timeZone;
            getMatchData();
        });


         
    });
    

    function getMatchData(){
        var requests = Array();
teams.forEach(function(team){
    requests.push($.ajax({
        method: "GET",
        url: "https://www.thebluealliance.com/api/v3/team/"+team+"/event/"+eventKey+"/matches",
        headers: {"X-TBA-Auth-Key": TBA_API_KEY}
    }))
});


var defer = $.when.apply($, requests);
var matchData = Array();
defer.done(function(){

    // This is executed only after every ajax request has been completed
    if (requests.length == 1){
        // "arguments" will be the array of response information for the request

        arguments[0].forEach((element, i) => {  
            arguments[0][i]["team"] = teams[0];
        }); 

        matchData = arguments[0];

    }else{
        $.each(arguments, function(index, responseData){

            responseData[0].forEach((element, i) => {  
                responseData[0][i]["team"] = teams[index];
            }); 

            matchData = matchData.concat(responseData[0]);

        });
    }

    console.log(matchData);

    var numMatches =1000; //don't have total number of matches, since only getting matches for team
  
    var matches = _.chain(matchData) 
    .sortBy(function(match){
        if(match.comp_level=="qm"){
          return match.match_number
        }else if(match.comp_level=="sf"){
          return numMatches + match.set_number
        }else if(match.comp_level=="f"){
          return numMatches*2 + match.match_number
        }else{
          return numMatches*3;
        }
    })
    .map(function(match){
            
              var blue = match.alliances.blue.team_keys.includes(match.team);
              var allianceColour= (blue?"blue":"red")
              var comp_level = match.comp_level;
              var date = new Date(match.time * 1000);

              

              
              simplifiedMatch = {
                team: match.team,
                alliance: allianceColour,
                alliances: {
                    blue: match.alliances.blue.team_keys,
                    red: match.alliances.red.team_keys,
                },
                won: (allianceColour==match.winning_alliance),
                rp: match.score_breakdown[allianceColour].rp,
                comp_level: match.comp_level,
                match_number: (comp_level=="sf"?match.set_number:match.match_number),
                time: date.toLocaleTimeString('en-US', {
                    timeZone: eventTimeZone,
                    hour12: true,
                    hour: "numeric", 
                    minute: "2-digit" 
                })
              };
              return simplifiedMatch;
              
            });
            

    matchSchedule = matches.value();
  
    console.log(matchSchedule);
    var matchScheduleTemplate = $.templates("#matchScheduleTemplate");
    var matchScheduleTemplateHTML = matchScheduleTemplate.render(matchSchedule);
    $("#matchSchedule").html(matchScheduleTemplateHTML);
    updateMatches();
    


}).fail(function(){
    alert("Fail");
  });
    }
  
});
});
</script>
</body>

</html>